{% extends 'base.html' %}
{%block title %}Update {{feedback.title}}{% endblock %}

{% block content %}
<h1 class = 'display 1 text-center'></h1>
<form method="POST">
    {{form.hidden_tag()}}
    {% for field in form
        if field.widget.input_type != 'hidden' %}
        <p class = 'justify-content-center'>
            {{field.label}}
            {{field(class_="form-control")}}

            {% for error in field.errors %}
            <p class = 'form-text text-danger'>{{error}}</p>
            {% endfor %}
        </p>
            {% endfor %}

        <button type = 'submit' class = 'btn btn-success'>Update</button>
</form>
{% endblock %}