{% extends 'base.html' %}
{%block title %}Login{% endblock %}

{% block content %}
<h1 class = 'display-1 text-center'>{{user.username}}</h1>
<div class = 'justify-content-center align-items-center'>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{user.last_name}}, {{user.first_name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{user.email}}</h6>
          <ul>
              {% for feedback in user.feedback %}
              {% if session['username'] == user.username %}
              <li>{{feedback.title}} - {{feedback.content}}
                  <form action="/feedback/{{feedback.id}}/delete" method='POST' style='display:inline;'>
                    <a class = 'badge badge-primary' href="/feedback/{{feedback.id}}/update">Edit</a>
                    <button class = 'badge badge-danger'>Delete</button>
                </form>
              </li>
              {% else %}
              <li>{{feedback.title}} - {{feedback.content}}</li>
              {% endif %}
              {% endfor %}
          </ul>
          {% if session['username'] == user.username %}
          <form action="/users/{{user.username}}/delete" method='POST'>
            <a href="/users/{{user.username}}/feedback/add" class = 'btn btn-primary'>Add more feedback</a>
            <button class = 'btn btn-danger'>Delete User</button>
        </form>
          {% endif %}

        </div>
      </div>
</div>
{% endblock %}